#root {
  width: 100%;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
header {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 25px;
}

.table--showColors tr:nth-child(2n) {
  background: #333;
}
.table--showColors tr:nth-child(2n + 1) {
  background: #666;
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}