* {
    box-sizing: border-box;
}
.pokecard {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    border: 2px solid #535bf2;
    border-radius: 15px;
}

.types {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 10px;
    text-align: center;
}

.types p {
    width: 40%;
    border-radius: 15px;
    color: #fff;
    font-size: 1rem;
    font-weight: bold;
    border: 1px solid #000;
    text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
}


.stats-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.stats-content {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 15px;
}

.stats-content p {
    width: 60px;
    height: 30px;
    padding: 15px;
    margin: 15px 15px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.bar {
    width: 150px;
    height: 20px;
    border: 1px solid black;
    border-radius: 15px;
    box-sizing: border-box;
    background-color: transparent;
}

.progress-bar {
    height: 100%; 
    background-color: #535bf2;
    border-radius: 15px;
    width: 50%;
}