.tw-followCard {
      display: flex;
      align-items: center;
      color: #fff;
      font-size: .8rem;
      justify-content: space-between;
}

.tw-followCard-header {
      display: flex;
      align-items: center;
      gap: 4px;
}

.tw-followCard-image {
      width: 48px;
      height: 48px;
      border-radius: 50%;
}

.tw-followCard-nickContainer {
      display: flex;
      flex-direction: column;
}

.tw-followCard-user {
      opacity: .6;
}

.tw-followCard-btnFollow {
      cursor: pointer;
      margin-left: 16px;
      border: 0;
      border-radius: 40px;
      padding: 6px 16px;
      font-weight: bold;
      transition: .5s ease background-color;
      border: 1px solid #000
}

/* cuando seleccionamos asi ( sin espacios ) hacemos referencia a un elemento que cuenta con ambas clases */
.tw-followCard-btnFollow.is-following {
      border: 1px solid red;
      
}

.tw-followCard-btnFollow:hover {
      background-color: #09f;
}

.tw-followCard-btnFollow.is-following:hover {
      background: red;
}